@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*about us top section*/
.about-section {
    padding: 170px;
    text-align: center;
    background: rgba(0,0,0,0.7) url(514.jpeg);
   background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
  }
  .about-section h1{color: #00fecb;
  font-size: 50px;}
  .about-section p{color: #fff;
  font-size: 25px;}

  .vision-section {
   
   
    padding: 100px;
    text-align: center;
    
  }
 .vision-section h1{
   font-size: 40px;
 }

  .vision-section p{
    margin-left: 20px;
    font-size: 20px;
  }
  .mission-section{
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }

  .mission-section h1{
    font-size: 40px;
  }
  .mission-section p{
    margin-left: 20px;
    font-size: 20px;
  }
 
  /*team*/
  .team
  {
      margin: 75px 0;
  }
  .container h1
  {
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
      color: #000;
      padding-bottom: 10px;
  }
  .container h1:after
  {
      content: '';
      background: #333;
      display: block;
      height: 3px;
      width: 150px;
      margin: 10px auto;
  }

  .profile
  {
    margin-top:25px;
  }

  .profile .img-box
  {
    opacity: 1;
    display: block;
    position: relative;

  }

  .profile h2

  {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
  }

  .profile h3
  {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
  }

  .img-box:after
  {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .img-box ul
  {
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  .img-box ul li
  {
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
  }

  .img-box a
  {
    color: #fff;

  }

  .img-box:hover:after
  {
    opacity: 1;
  }

  .img-box:hover ul
  {
    opacity: 1;
  }

  .img-box:hover ul
  {
    opacity: 1;
  }
.img-box a:hover li
  {
    color: #00fecb;
    border: 1px solid #00fecb;
  }

  .img-box:after, .img-box ul, .img-box ul li
  {
    transition: all 0.5s
  }
  

  /*process file*/
  .pro{
    padding: 100px;
  }
  .pro .row{
    display:flex;
    width: 100%;
    background: #00fecb;
    border-radius: 15px;
    overflow: hidden;
    height: 400px;
  }
  .pro .col-1, .col-2{
    flex-basis: 50%;
    overflow: none;
  }
  .pro .col-2 img{
    width: 100%;
   margin-top: 65px;
  margin-left: 170px;
   
  }
  .pro .col-1{
    padding: 8% 5%;
    position: relative;
  }

  .pro .col-1 h1{
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 2px;
    color:#333;
    margin-left: 170px;
    margin-top: 0;
  }

  .pro .col-1 p{
    color:#777;
    line-height: 22px;
    margin: 15px 0 30px;
    margin-left: 185px;
   
  }
.pro ul{
    position: absolute;
    bottom: 30px;
    margin-left: 180px;
  }

  .pro ul li{
    list-style: none;
    width: 0px;
    height: 27px;
    display: inline-block;
    background: #bfbfbf;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
  }
  .pro ul .active{
    background: #333;
  }
  /*animtion*/
  .zoom{
    animation: zoomout 0.5s linear 1;
  }
  @keyframes zoomout
  0%{transform: scale(1.2);

  }
  100%{transform: scale(1);

  }