*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(imageee.jpg);
    background-size:cover;
}

.contact .content
{
    max-width: 800px;
    text-align: center;
}

.contact .content h1
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p
{
    
    font-weight: 300;
    color: #fff;
}